fastapi
uvicorn
h11>=0.14.0
click>=8.1.0           
paddlepaddle==2.5.1
faster-whisper
python-multipart
pillow
opencv-python-headless
numpy
requests
psycopg2-binary
passlib[bcrypt]
python-jose[cryptography]
bcrypt
python-dotenv
pdf2image
