fastapi
uvicorn
paddlepaddle==2.5.1
paddleocr==2.6.1.3
faster-whisper
python-multipart
pillow
opencv-python-headless
numpy
requests
psycopg2-binary
passlib[bcrypt]
python-jose[cryptography]
bcrypt
python-dotenv
pdf2image
